
/* =========================
   GENERAL
   ========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
}


/* =========================
   LOGIN / REGISTER
   ========================= */

body {
    min-height: 100vh;
    background: linear-gradient(to bottom, #e2e2e2, #ffe6c9);
    color: #333;
}


.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.container {
    margin: 0 15px;
}


.form-box {
    width: 100%;
    max-width: 500px;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
}


.form-box.shown {
    display: block;
}


h2 {
    font-size: 34px;
    text-align: center;
    margin-bottom: 25px;
}


input,
select {
    width: 95%;
    padding: 12px;
    background: #eee;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}


button {
    width: 100%;
    padding: 12px;
    background: #f29a3c;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
    transition: 0.5s;
}


button:hover {
    background: #f29a3c;
}


p {
    font-size: 14.5px;
    text-align: center;
    margin-bottom: 10px;
}


p a {
    color: #f29a3c;
    text-decoration: none;
}


p a:hover {
    text-decoration: underline;
}


.error-message {
    padding: 12px;
    background: #f8d7da;
    border-radius: 6px;
    font-size: 16px;
    color: #a42834;
    text-align: center;
    margin-bottom: 20px;
}


/* =========================
   GENERAL BOX PAGES
   ========================= */

h1 {
    font-size: 50px;
}


span {
    color: #f29a3c;
}


.box p {
    font-size: 22px;
}


.box button {
    display: block;
    width: 300px;
    margin: 0 auto;
}


/* =========================
   ROLE SELECTION PAGE
   ========================= */

.role-container {
    width: 90%;
    max-width: 800px;
    padding: 40px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;

    margin: 100px auto;
}


.role-container h1 {
    font-size: 32px;
    margin-bottom: 15px;
}


.role-container p {
    font-size: 18px;
    margin-bottom: 35px;
}


.role-buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
}


.role-buttons button {
    width: 300px;
    height: 180px;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 0;
}


.logout-button {
    width: 200px;
    background: #777;
}


.logout-button:hover {
    background: #555;
}


/* =========================
   USER PAGE - LOGO
   ========================= */

.logo {
    width: 100%;
    padding: 25px 0;

    text-align: center;

    background-color: #fff;

    font-size: 42px;
    font-weight: bold;

    color: #f29a3c;
}


/* =========================
   USER PAGE - NAVBAR
   ========================= */

.navbar {
    list-style-type: none;

    margin: 0;
    padding: 0;

    overflow: hidden;

    background-color: #333;

    position: sticky;
    top: 0;

    z-index: 1000;

    display: flex;
    justify-content: center;
}


.navbar li {
    float: none;
}


.navbar li a {
    display: block;

    color: white;

    text-align: center;

    padding: 14px 25px;

    text-decoration: none;

    font-size: 17px;
}


.navbar li a:hover {
    background-color: #111;
}


.navbar li a.active {
    background-color: #f29a3c;
}


/*  USER PAGE - WELCOME   */

.user-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    padding: 15px 40px;

}

.user-header h1 {
    font-size: 30px;

    margin: 0 0 10px 0;
}


.user-header h1 span {
    color: #f29a3c;
}


.user-header p {
    text-align: center;
    font-size: 18px;
}


/* =========================
   USER PAGE - LOGOUT
   ========================= */

.user-header button {
    width: 150px;
    margin-top: 20px;
    background-color: #f29a3c;
}

.user-header button:hover {
    background-color: #f29a3c;
}

/* =========================
   CHEF PAGE - ACTIONS
   ========================= */

.chef-actions {
    padding: 0px 100px;
    text-align: left;
}

.create-aggelia-button {
    width: 250px;
    background-color: #4caf50;
    color: white;
    font-size: 17px;
    font-weight: bold;
    margin: 0;
}

.create-aggelia-button:hover {
    background-color: #388e3c;
}

/* =========================
   CREATE AGGELIA PAGE
   ========================= */

.create-aggelia-container {
    width: 90%;
    max-width: 800px;

    margin: 40px auto;

    padding: 35px;

    background-color: #fff;

    border-radius: 10px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.create-aggelia-container h1 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
}

.create-aggelia-container form {
    display: flex;
    flex-direction: column;
}

.create-aggelia-container label {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 8px;
}

.create-aggelia-container input,
.create-aggelia-container textarea {
    width: 100%;
    padding: 12px;

    background-color: #eee;

    border-radius: 6px;
    border: none;
    outline: none;

    font-size: 16px;

    margin-bottom: 20px;
}

.create-aggelia-container textarea {
    resize: vertical;
}


/* =========================
   ALLERGENS
   ========================= */

.allergens {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 10px;

    margin-bottom: 25px;
}

.allergens label {
    display: flex;
    align-items: center;

    font-size: 15px;
    font-weight: normal;
}

.allergens input[type="checkbox"] {
    width: auto;

    margin: 0 8px 0 0;
}


/* =========================
   CREATE / CANCEL BUTTONS
   ========================= */

.create-aggelia-container .create-aggelia-button {
    width: 100%;
    margin-top: 10px;
}

.cancel-button {
    width: 100%;

    background-color: #777;

    margin-top: 10px;
}

.cancel-button:hover {
    background-color: #555;
}

/* =========================
   CHEF AGGELIES
   ========================= */

.chef-content {
    padding: 30px 40px;
    /*background-color: #fff;*/
}

.chef-content h2 {
    text-align: left;
    font-size: 30px;
    margin-bottom: 25px;
}


#aggelies-container {
    display: grid;

    grid-template-columns:
        repeat(auto-fill, minmax(300px, 1fr));

    gap: 25px;

    margin-bottom: 30px;
}


.aggelia-card {
    padding: 25px;

    background-color: #f7f7f7; 

    border-radius: 10px;

    box-shadow:
        0 0 8px rgba(0, 0, 0, 0.1);
}


.aggelia-card h3 {
    font-size: 24px;
    margin-bottom: 15px;
}


.aggelia-card p {
    text-align: left;
    font-size: 16px;
    margin-bottom: 10px;
}


.aggelia-buttons {
    display: flex;
    gap: 10px;

    margin-top: 20px;
}


.aggelia-buttons button {
    margin: 0;
}


.delete-button {
    background-color: #d9534f;
}


.delete-button:hover {
    background-color: #b52b27;
}


.chef-content > .create-aggelia-button {
    width: 250px;
    margin: 0;

    background-color: #4caf50;
}


.chef-content > .create-aggelia-button:hover {
    background-color: #388e3c;
}

/* =========================
   RESPONSIVE
   ========================= */

@media (max-width: 700px) {

    .role-buttons {
        flex-direction: column;
        align-items: center;
    }

    .role-buttons button {
        width: 100%;
        max-width: 350px;
    }

    .navbar li a {
        padding: 14px 10px;
        font-size: 14px;
    }

    .user-header {
        padding: 25px;
    }

    .user-header h1 {
        font-size: 24px;
    }

}

